/*                KEY POSITIONS

  ╭───────────────────     ─╮ ╭───────────────────     ─╮
  │  0   1   2   3   4   5  │ │  6   7   8   9  10  11  │
  │ 11  12  13  14  15  16  │ │ 17  18  19  20  21  22  │
  │ 23  24  25  26  27  28  29  30  31  32  33  34  35  │
  ╰─────────36╮ 37  38  39      40  41  42  43───────── ╯
              ╰───────     ─╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

/* Brackets */
COMBO(left_parenthesis, &kp LEFT_PARENTHESIS, 7 8, DEFAULT)
COMBO(right_parenthesis, &kp RIGHT_PARENTHESIS, 8 9, DEFAULT)
COMBO(parentheses, &macro_parentheses, 1 2 3, DEFAULT)
COMBO(left_brace, &kp LEFT_BRACE, 18 19, DEFAULT)
COMBO(right_brace, &kp RIGHT_BRACE, 19 21, DEFAULT)
COMBO(braces, &macro_braces, 18 19 20)
COMBO(left_bracket, &kp LEFT_BRACKET, 31 32, DEFAULT)
COMBO(right_bracket, &kp RIGHT_BRACKET, 32 33, DEFAULT)
COMBO(brackets, &macro_brackets, 31 32 33, DEFAULT)
//COMBO(less_than, &kp LESS_THAN, 21 22, DEFAULT)
//COMBO(greater_than, &kp GREATER_THAN, 22 23, DEFAULT)
COMBO(ltgt, &macro_ltgt, 33 34 35, DEFAULT)

///* Text processing */
//COMBO(undo, &kp LG(Z), 20 21, BASE)
//COMBO(cut, &kp LG(X), 21 23, BASE)
//COMBO(copy, &kp LG(C), 21 22, BASE)
//COMBO(paste, &kp LG(V), 21 22 23, BASE)
//COMBO(select_all, &kp LG(A), 20 23, BASE)
//COMBO(caps_word, &caps_word, 31 32, BASE)


